# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
numpy==1.26.4
pandas==2.0.3
pyarrow==10.0.1
pyodbc==4.0.39
python-dotenv==1.0.1
python-dateutil==2.9.0.post0
six==1.16.0
snowflake-connector-python==3.2.0
tzdata==2024.1